
/* .structure-top{padding: 0} */
.structure-chart{max-width:100px;min-width:100px;float: left;height:100px; width: 120px;}
/* .structure-normal{float: left;margin-top: 40px;text-align:left;min-width:190px;} */
.structure-normal{float: left;margin-top: 10px;text-align:left;}
/* .structure-value{float: left;text-align:left;} */
#LSLNormal{width: 190px;height:100px;}
.structure-note{
	text-align: center;
}
.structure-normal .structure-operator,.structure-normal .structure-value{min-width:30px;
float: left;height:70px;margin-top: 10px;text-align: center;font-size: 17px;
    color: #999999;padding: 0;
}
/*  div .structure-normal:last-child{ */
/* 	min-width:50px; */
/* } */
.structure-normal .structure-operator{
	min-width:20px;
}
.structure-normal .structure-operator span, .structure-normal .structure-normal span{font-size: 23px;white-space: nowrap;width: 100%;}
.structure-normal .structure-value label{font-size: 11px;}
.structure-normal .structure-value .usableEmpCount{font-weight: 400;color: red;}
.managerAndEmployee{width: 98%; height:160px;margin-left: 15px;margin-right: 15px;margin-top: 25px;}
.managerAndEmployee .backgroud{width: 100%; height:60px;margin-bottom: 10px}
.managerAndEmployee .managerBackgroud{margin-bottom:40px;width: 60px; height:60px;-moz-background-size:100% 100%;  
    background-size:100% 100%;background-image: url("../../../img/talentStructure/manager.png");}
.managerAndEmployee .employeeBackgroud{margin-bottom:40px;width: 60px; height:60px;-moz-background-size:100% 100%;  
    background-size:100% 100%;background-image: url("../../../img/talentStructure/employee.png");}
    .managerAndEmployee .line{width: 100%; height:16px;-moz-background-size:100% 100%;border-radius:7px;  
    background-size:100% 100%;background-image: url("../../../img/talentStructure/line.png");}
    .managerAndEmployee .triangle{width: 72px; height:63px;-moz-background-size:100% 100%;
    background-size:100% 100%;background-image: url("../../../img/talentStructure/triangle.png");}
.managerAndEmployee .manager-normal{float:left;margin-left: 10px;width:60px;height:130px;}
.managerAndEmployee .employee-normal{float:right;margin-right: 10px;width:60px;height:130px;}
.managerAndEmployee label{margin-bottom:0px;}
		