<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
       default-lazy-init="true">

    <context:component-scan base-package="net.chinahrd.spring">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean class="net.chinahrd.spring.postprocess.My1"></bean>
    <bean class="net.chinahrd.spring.postprocess.My2"></bean>
    <bean class="net.chinahrd.spring.postprocess.My3"></bean>
    <bean class="net.chinahrd.spring.postprocess.My4"></bean>
    <bean class="net.chinahrd.spring.postprocess.My5"></bean>
    <bean class="net.chinahrd.spring.postprocess.My6"></bean>

    <bean id="jackstudent" class="net.chinahrd.spring.postprocess.Student">
        <property name="username" value="jack"></property>
        <property name="password" value="123456"></property>
    </bean>

    <bean class="net.chinahrd.spring.listen.MyListen"></bean>
    <bean class="net.chinahrd.spring.listen.MyListen2"></bean>
</beans>