

.trainCard{
	width:49%;
	text-align: center;
	padding: 0;
	float: left;
	height:50px;
}
.trainCardSplit{
	float: left;
	width: 1px;
	margin-top:10px;
	height:50px;
	background-color: #B1ABAB;
}
.trainCard label{
	font-size: 14px;
    color: #1E1E1E;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    display:block;
    background-color: #ffffff !important;
   
}
.trainCard span{
	height:35px;
	color: #1E1E1E;
	font-weight: 400;
    font-style: normal;
     font-size: 28px;
}


.trainTable{
/* 	min-width: 600px; */
	overflow-x:scroll;
}
.scrollTable-hide{
/* 	min-width: 600px; */
	position:absolute;
	border: 1px solid #C1C1C1;
	height: 2px;
	left:0;
	top:2px;
	background-color:#C1C1C1; 
}
.scrollTable{
/* 	min-width: 600px; */
	position:absolute;
	border: 1px solid #000000;
	height: 3px;
	left:13px;
	bottom:10px;
	z-index:1000;
	background-color:#000000; 
}