.graph-layout .graph-header { position: absolute; z-index: 10; top: 15px; }
.graph-layout .btn-group > .btn:first-child { position: relative; top: -3px; padding: 3px 10px; margin-right: -5px; background-color: #fff; border-color: #aaa; border-radius: 4px 0 0 4px; }
.graph-layout .btn-group > .dropdown-menu { top: 80%; }
.graph-layout .select2-container--default .select2-selection--single { border-radius: 0 4px 4px 0; }
.graph-layout .btn-layout { display: inline-block; min-width: 54px; text-align: center; padding: 3px 1px; margin: 0 0 5px; background-color: #ccc; color: #000; border: 1px solid #ccc; cursor: pointer; }
.graph-layout .btn-layout.active { background-color: #66ffff; border-color: #66ffff; }
.graph-layout .btn-layout:hover { background-color: #66ffff; border-color: #66ffff; }
.graph-layout .setting-header { font-size: 16px; margin: -1px -1px 10px; padding: 5px 16px; border: 1px solid #e0e0e0; background-color: #f5f5f5; }
.graph-layout .setting-demos { height: 100px; }
.graph-layout .setting-btns{ padding: 0 10px 10px; }
.graph-layout .btn-xs { background-color: #ccc; padding: 0 12px; }
.graph-layout .money-layout { position: relative; border: 1px solid #1A9FF3; margin-bottom: 15px; border-radius: 4px; }
.graph-layout .money-layout .money-title { display: inline-block; background-color: #1A9FF3; color: #fff; font-size: 14px; padding: 5px 12px; }
.graph-layout .money-layout .money-num { padding: 0 8px; }
.graph-layout .money-layout .money-unit { position: absolute; bottom: 2px; right: 5px; }
.graph-layout .accord-bottom-float-arrow { position: absolute; top: 8px; right: 6px; }
.graph-layout .icon-layout { position: absolute; right: 25px; }
.graph-layout .icon-layout .img-find { display: inline-block; background: url("../../../img/graph/find.png") no-repeat; width: 149px; height: 130px; cursor: pointer; }
.graph-layout .sales-layout { position: relative; margin-bottom: 15px; }
.graph-layout .sales-layout img { width: 24px; margin-right: 2px; }
.graph-layout .sales-layout .sales-main { display: inline-block; }
.graph-layout .sales-layout .sales-main .sales-title { display: inline-block; background-color: #1A9FF3; color: #fff; padding: 2px; border-radius: 3px 0 0 3px; }
.graph-layout .sales-layout .sales-main .sales-num { padding: 2px 5px; border: 1px solid #e0e0e0; border-radius: 0 3px 3px 0; margin-right: 3px; }
#chart{height: 500px}
#settingBlock .panel-default{position: absolute;height: 100%}
#settingBlock .panel-default:first-child{z-index: 1}
#detailBlock .panel{margin-bottom: 0;height: 100%}
.big-circle{
    -webkit-box-shadow:0 0 10px 10px #999;
    -moz-box-shadow:0 0 10px 10px #999;
    box-shadow:0 0 10px 10px #999;
}