.monthReportExport {
    position: relative;
    font-size: 14px;
    color: #777777;
}

#page-one {
    display: block;
}

#page-one .panel {
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}

.month-report .right-header .right-header-title {
    height: 220px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 75px;
    background: url("../../../img/other/right-header-title.png") no-repeat;
    background-size: 100% 220px;
    color: #ffffff;
}

.panel-default {
	padding: 20px;
}

.panel-default .panel-heading { 
	position:relative;
	width: 100%; 
	height: 40px; 
	border-top: 1px solid #7fd3ef; 
	border-bottom: 1px solid #7fd3ef; 
	background: -moz-linear-gradient(left, #fff, #7fd3ef, #fff);
	background: -webkit-linear-gradient(left, #fff, #7fd3ef, #fff);
	background: -o-linear-gradient(left, #fff, #7fd3ef, #fff);
	background: -ms-linear-gradient(left, #fff, #7fd3ef, #fff);
	background: linear-gradient(left, #fff, #7fd3ef, #fff);
	text-align: center;
/* 	line-height: 40px; */
}
.panel-default .panel-heading .arrow {
	position: absolute;
	top: 39px;
	right: 49%; /* 圆角的位置需要细心调试哦 */
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 8px;
	border-color: #7fd3ef #FFFFFF #FFFFFF #FFFFFF;
}
.panel-default .panel-title {
	font-size: 18px;
	font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #0099cc;
}

.little-title {
	font-size: 14px;
	color: inherit;
	font-weight: bold;
	padding-bottom: 10px;
}

.widget-table > div {
    border-top: 1px solid #e0e0e0;
}

.widget-table > div > span:first-child {
    font-size: 13px;
    border-right: 1px solid #e0e0e0;
}

.widget-table .widget-table-bold {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #fcfcfc;
    color: #444;
}

.widget-table .widget-table-row > span {
    display: inline-block;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    line-height: 33px;
    font-size: 13px;
    color: #444;
}

.widget-table .widget-table-icon {
    position: absolute;
    right: -3px;
}
.margintop10 {
	margin-top: 10px;
}
.bottom-title {
	margin-left: -10px;
}
.top-div {
	height: 360px;
}
.height300 {
	height: 300px;
}
.height350 {
	height: 350px;
}

.dis-search {
    width: 280px;
    font-size: 12px !important;
    margin: 10px 0;
}
.dis-search .dis-search-input {
    line-height: 2 !important;
    font-size: 12px !important;
    float: left;
    width: 74%;
    height: 34px;
    margin-top: 1px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    padding-top: 4px;
    padding-left: 12px;
}
.dis-search .dis-search-input-btn {
    cursor: pointer;
    font-size: 12px !important;
    float: left;
    width: 45px;
    background-color: #009edd;
    height: 36px;
    line-height: 36px;
    border: 1px solid #e0e0e0;
    padding-left: 9px;
    margin-left: -1px;
    color: #fff;
}
.titleArea {
    font-size: 20px;
    padding-left: 28%;
    margin-top: 10px;
}
.textArea {
    padding-left: 13%;
    padding-bottom: 10px;
    color: #999999;
}
.chartArea {
    height: 260px;
    padding-left: 25%;
    padding-right: 30%;
}
#preChange, #preUnusual {
    margin-top: 20px;
    height: 220px;
}
.accord-dismiss-year {
	width: 200px;
    height: 30px;
    background-color: #e0e0e0;
    margin-left: 40%;
    margin-top: 10px;
    text-align: center;
    color: #666666;
    line-height: 30px;
    font-size: 14px;
}