html {font-family: '微软雅黑'; /* 1 */-ms-text-size-adjust: 100%; /* 2 */-webkit-text-size-adjust: 100%; /* 2 */}
body {margin: 0;min-height: 0;}
.header {width: 100%;height: 76px;background: #fff url("../../img/base/header_bg.png");margin: auto;padding: auto;border:0;}
.wrapper {max-width: 960px;width:100%;height: 76px;margin: 0 auto;position: relative;}
.topBar {float: left;width: 59%;line-height: 72px;font-size: 32px;}
.topBar a {float: left;width: 24%;display: block;width: 197px;height: 0px;overflow: hidden;padding-top: 76px;font-size: 0;margin-right: 5px;background: transparent url("../../img/logo.png") no-repeat left 24px;}
.banner {background: #39a6ec;height: 517px;width: 100%;}
.slide {position: absolute;top: 2px;left: 1px;height: 517px;width: 467px;background: url("../../img/base/banner_bg.png") no-repeat;}
.loginPanel {border-radius: 4px;background-color: #fff;webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);box-shadow: 0 0 5px rgba(0,0,0,0.4);width: 355px;height: 368px;position: absolute;top: 75px;right: 10px;}
.loginTitle {font-size: 25px;margin: 15px;}
.loginTips { text-align: center;padding: 5px 5px 5px 15px;border: 1px solid #ecc36c;background: #f5ecbb;height: 20px;line-height:20px;font-size:14px; width: 291px;margin-left:17px;display: inline-block;color: #383838;vertical-align: middle;text-align: left;}
.loginForm {position: relative;padding-left: 15px;}
.inputOuter {height: 52px;width: 300px;display: inline-block;overflow: hidden;padding: 0 16px;position: relative;background: url("../../img/base/slide-door.png") no-repeat 0 0;margin-bottom: 20px;}
.inputInner {width: 300px;height: 52px;display: inline-block;background: url("../../img/base/slide-door.png") no-repeat right -54px;}
.inputFocus {background-position: 0 -120px;}
.inputFocus .inputInner  {background-position:right -174px;}
.inputOuter input {font-size: 20px;width: 100%; line-height:46px\9; height: 46px;border: none;background: none;outline: 0;margin-top: 3px;}
.inputOuter input:focus {outline: 0;}
.btn {width: 318px;height: 50px;line-height: 50px;background: #69b3f2;font-size: 22px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;color: #FFF;padding: 0;}
.btn:hover {background: #7cbdf5;color: #FFF;}
.btn:active {background: #59a4e4;color: #FFF;}
.btn[disabled]{filter:alpha(opacity=70);-moz-opacity: .7;opacity: .7;}
.foot {width: 100%;text-align: center;line-height: 23px;color: #818181;margin:30px auto;}
.time-remind{margin:0 20px;color: #ff0000;font-size: 16px;}
.popup-modal .modal-body{min-height: 300px;}
/* placeholder 组件样式 */
.inputOuter{position:relative; }
.inputOuter .placeholder{position:absolute;z-index:2;left:20px;top:15px;_top:17px;color:#c1c1c1;}
::-webkit-input-placeholder { color:#c1c1c1; padding-top:3px; font-size: 16px;}
::-moz-placeholder { color:#c1c1c1; font-size: 15px;} /* firefox 19+ */
:-ms-input-placeholder { color:#c1c1c1; font-size: 15px;} /* ie */
input:-moz-placeholder { color:#c1c1c1; font-size: 15px;}
@media only screen and (max-width: 767px) {
    .topBar {width: 100%;}
    .topBar a {width: 90%;margin-left: 8px;}
    .banner {height: 440px;}
    .slide {width: 100%;height:100%;top: 0;left: 0;}
    .loginTips{width: 92%;padding: 5px 0;}
    .loginPanel {width: 98%;right: 3px; top:40px;height: 330px;}
    .loginForm{width: 99%;padding-left: 0;margin:0 auto;}
    .inputOuter{width: 95%;margin-bottom: 10px;padding: 0 10px;}
    .inputInner{width: 100%;}
    .inputOuter input{width:99%;}
    .btn{width: 97%;}
    .foot p span{display: inline-block;}
}