* {
    padding: 0;
    margin: 0
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overflow-y: auto
}

.ui-datetime {
    width: 100%;
    background: #fff;
}

.ui-datetime .ui-datetime-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 120px;
    width: 80px;
    overflow: hidden;
}

.ui-datetime .ui-datetime-item ul li {
    height: 40px;
    line-height: 40px;
    color: #898c90;
    font-size: 15px
}

.ui-datetime .ui-datetime-item ul li.selected {
    color: #292a2b;
    font-size: 17px
}

.ui-datetime .ui-datetime-line {
    top: 40%
}

.ui-datetime, .ui-load {
    width: 100%
}

.ui-datetime .ui-datetime-wrap {
    width: 100%;
    height: 120px;
    background: #fff;
    position: relative;
    text-align: center
}

.ui-datetime .ui-datetime-line, .ui-datetime-wrap .ui-datetime-line {
    height: 40px;
    border-top: 1px solid #D6DDE7;
    border-bottom: 1px solid #D6DDE7;
    width: 100%;
    position: absolute
}

.ui-datetime .ui-datetime-item {
    margin: 0;
    padding: 0 3%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 120px;
    overflow: hidden
}

.datetime_panel{
		width:100%;
		background-color:#ffffff;
		position: fixed;
		bottom: 0px;
		z-index: 100;
		display:none;
	}
	.ui_datetime_btn{
		
		color:blue;
		padding-right:10px;
		text-align: right;
	}
	.datetime_shade{
		display:none;
		width:100%;
		height:100%;
		background-color:#000000;
		position: fixed;
		z-index: 99;
		top:0;
		filter:alpha(opacity=40); /*IE滤镜，透明度50%*/
-moz-opacity:0.4; /*Firefox私有，透明度50%*/
opacity:0.4;/*其他，透明度50%*/
	}