
.labor-auditing  .rightSetUpTitle{
	margin: 10px 0px 5px;
}
.labor-auditing .rightBody{
    width: 100%;
    background-color: #fff;
    padding: 5px;
}
.labor-auditing .bottom-div{
    width: 100%;
    height: 630px;
}
.text-font{
    margin-left: 5px;
    color: #999;
    font-size: smaller;
}

.bottom-div .bottom-div-one{
	width: 100%;
	height: 100px;
	border: 1px solid #954BC8;
}
.auditing-button{
	width: 180px; 
	height: 40px; 
	line-height: 40px; 
	font-size: 20px; 
	text-align: center; 
	color: #ffffff; 
	background-color: #954BC8; 
	float: right; 
	border-radius: 5px; 
	margin-right: 50px; 
	margin-top: 30px; 
	cursor: pointer;
}
#attendance-view{
	margin-top: 20px;
	height: 500px;
}
#personDetailModal .modal-dialog{
    width: 750px;
}
#personDetailModal .modal-dialog>.modal-content>.modal-body{
    min-height: 450px;
}
#personDetailModal .tab-content{
    padding: 15px 1px;
}
.popup-modal .modal-dialog .modal-body .modal-title{
	font-weight: bolder; 
	margin-top: 5px; 
	display: inline-block;
}
.popup-modal .modal-dialog .modal-body .modal-title .modal-title-first{
	float: left; 
	line-height: 30px;
}
.popup-modal .modal-dialog .modal-body .modal-title-point{
	line-height: 30px;
}
.modal-style-margin{
	float: left; 
	margin-left: 10px;
}
.modal-title-text{
	float: left; 
	line-height: 30px; 
	margin-left: 10px;
}
.select-height{
	height: 30px;
}
.okBtn{
	cursor: pointer; 
	width: 50px; 
	height: 30px; 
	line-height:30px; 
	color: white; 
	background-color: #1A9FF3; 
	text-align: center; 
	float: left;
}
.btn-margin{
	margin-left: 10px;
}