.accordDismiss{
    position: relative;
    padding-left: 120px;
}
.ct-dissmiss .column{
    padding: 2px!important;
}
#page-one .ui-jqgrid {
	border:0 !important;
}
#page-one .ui-jqgrid .ui-jqgrid-htable {
	border:0 !important;
}
#page-one .ui-jqgrid>.ui-jqgrid-view th{
	padding: 8px;
}

#page-one{display: block;}
#page-two{display: none;}
#page-three{display: none;}
.leftListSet,.LSLSetUp{
    cursor: pointer;
}

/*椤甸潰閫氱敤鏍峰紡 begin*/
.accord-dismiss-normal{float: right;text-align: center;}
.accord-dismiss-normal .accord-main-number{font-size: 36px;font-weight: normal;}
.accord-dismiss-normal .accord-main-content{font-size: 18px;margin:0 -5px;margin-left: 10px;text-align: left;}
.accord-dismiss-normal .accord-main-desc{font-size: 12px;color:#999;}
.accord-dismiss-normal .accord-main-desc .accord-desc-title{float:left;display:inline-block;width:24%;min-height:38px;margin-top:7px;}
.accord-dismiss-normal .accord-main-desc .accord-desc-content{float:left;display:inline-block;width: 75%;}
.accord-dismiss-normal .accord-main-desc .accord-desc-warn{
    display: inline-block;
    font-weight: bolder;
    font-size: 18px;
    color: #F1A502;
    height: 18px;
    width: 20%;
}
.accord-dismiss-normal .accord-main-desc .accord-desc-over{
    display: inline-block;
    font-weight: bolder;
    font-size: 18px;
    color: #D4531A;
    height: 18px;
    width: 20%;
    margin-top:-6px;
}
.accord-dismiss-normal .accord-main-desc .accord-desc-warn-txt,.accord-dismiss-normal .accord-main-desc .accord-desc-over-txt{
    display: inline-block;
    width:80%;
}

/*宸﹁竟瀵艰埅 begin*/
.accordDismiss .leftBody{
    position: absolute;
    width: 120px;
    left: 0px;
    top: 0px;
}
.accordDismiss .leftListBigDiv{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent : 14px;
    font-weight: bold;
}
.accordDismiss .leftListSet{
    background-image: url("../../../img/index/setUp.png");
    width: 14px;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 17px;
}
.accordDismiss .leftListDiv{
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-indent : 14px;
}
.accordDismiss .selectList{
    background-color: #fff;
    cursor: default;
}
/*宸﹁竟瀵艰埅 end*/

.accordDismiss .LSLSetUp{
    background-image: url("../../../img/index/setUp.png");
    width: 14px;
    height: 14px;
    position: absolute;
    right: 11px;
    top: 10px;
}

.accordDismiss .table-view{
    display: none;
}
.accordDismiss .table-view table{
width:100%
}
.bottom-div-two{
    height: 450px !important;
}
.bottom-div-three{
    height: 960px !important;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.conditionBtn{
    cursor: pointer;
    position: absolute;
    top: -48px;
    left: 220px;
    font-size: 12px;
    width: 108px;
    height: 48px;
    line-height: 47px;
    margin-left: 10px;
    border: 1px solid #e0e0e0;
    border-bottom: 0px;
    z-index: 1;
    background-color: #fff;
    text-indent: 10px;
}
.conditionBtnListBody{
    position: relative;
    /*min-height: 276px;*/
    padding-left: 15px;
    padding-right: 10px;
    font-size: 12px !important;
}

/*绛涢�鏉′欢 begin*/
.dis-search{width: 280px;font-size: 12px !important;}
.dis-search-input{line-height:2 !important;font-size: 12px !important;float: left;width: 74%;height: 34px;margin-top: 1px;border: 1px solid #e0e0e0;font-size: 12px;padding-top: 4px;padding-left: 12px;}
.dis-search-input-btn{cursor:pointer;font-size: 12px !important;float: left;width: 26%;background-color: #009edd;height: 36px;line-height:36px;border: 1px solid #e0e0e0;padding-left: 9px;margin-left: -1px;color: #fff;}

.condition-body-list{
    width: 100%;
    float: left;
    margin-bottom: 14px;
}
.condition-body-list-title{
    text-align: right;
    width: 64px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.condition-input-text{
    width: 120px;
    height: 24px;
    line-height: 2;
    padding-left: 4px;
    margin-top: -2px;
}
.condition-text-one{
    margin-left: 6px;
    margin-right: 6px;
}
.condition-btn{
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    /*color: #444444;*/
    margin-right: 6px;
    margin-bottom: 4px;
    cursor: pointer;
}
.condition-btn-selected{
    background-color: #009edd;
    color: #fff;
    cursor: default;
}

.condition-btn-too-icon{
    position: absolute;
    top: 8px;
    right: 6px;
    background-image: url("../../../img/index/y.png");
    width: 7px;
    height: 7px;
}
/*绛涢�鏉′欢 end*/

/*寮瑰嚭妗�begin*/
.ZBSetUp-drag-middle{
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 30px;
}
.BSetUp-col{
    padding-right: 0px;
    padding-left: 0px;
}
.BSetUp-line{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.BSetUp-text-line{
    color: #888888;
    text-align: left;
    margin-bottom: 8px;
}
.BSetUp-text-last-line{
    margin-bottom: 30px;
}
.color-div{
    width: 12px;
    height: 12px;
    margin-top: 6px;
}
.green-color-div{
    background-color: #5ab700;
}
.orange-color-div{
    background-color: #eda100;
}
.BSetUp-text-one{
    margin-top: 3px;
    margin-left: 6px;
}
.BSetUp-input{
    width: 58px;
    height: 24px;
    padding-left: 8px !important;
    margin-left: 8px;
    font-size: 12px !important;
}
.BSetUp-text-two{
    margin-top: 3px;
    margin-left: 12px;
}

/*.drag-middle-C{*/
    /*margin-top: 5px;*/
/*}*/
.BSetUp-line-two{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.BSetUp-line-three{
    border-bottom: 1px dashed #e8ecf0;
}
.CSetUp-text-one{
    margin-top: 6px;
}
.CSetUp-select{
    margin-top: 4px;
    margin-left: 8px;
    width: 132px;
    height: 24px;
}
.CSetUp-text-two{
    width: 100%;
    text-align: left;
    color: #888888;
    padding-top: 8px;
    padding-bottom: 20px;
}
.CSetUp-text-checkbox{
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 2px;
    cursor: pointer;
}
.CSetUp-text-checkbox-text{
    margin-left: 4px;
}
.CSetUp-text-checkbox-input{
    /*margin-top: 4px !important;*/
    /*margin-bottom: 4px !important;*/
}
/*寮瑰嚭妗�end*/

/*media begin*/
@media (max-width: 680px) {
    .condition-body-list-title {width: 100%;text-align: left;}
    .condition-bottom{padding-left: 0px;}
    .condition-text-one{display: none;}
    .condition-input-text-too{clear: both;margin-top: 6px;}

    .conditionBtn{top: -65px;left: -11px;border-bottom: 1px solid #e0e0e0;}
    .conditionBtnListBody{margin-top: 110px;}
    .dis-search{top: -115px;}
}

/*media end*/