.row { margin-left: 0px; margin-right: 0px; }
.promote-board { position: relative; padding-left: 145px;}
#page-one { display: block; }
#page-two { display: none; }
#page-three { display: none; }

.promote-board .table-view { display: none; }

.bottom-div-four { height: 520px !important; padding-top: 15px; padding-left: 15px; padding-right: 15px; }
.conditionBtn { cursor: pointer; position: absolute; top: -48px; left: 220px; font-size: 12px; width: 108px; height: 48px; line-height: 47px; margin-left: 10px; border: 1px solid #e0e0e0; border-bottom: 0px; z-index: 1; background-color: #fff; text-indent: 10px; }
.conditionBtnListBody { position: relative; /*min-height: 276px;*/ padding-left: 10px; padding-right: 10px; font-size: 12px !important; }


.condition-body-list { width: 100%; float: left; margin-bottom: 14px; }
.condition-body-list-title { text-align: right; width: 64px; margin-right: 10px; margin-bottom: 5px; }

.condition-input-text { width: 120px; height: 24px; line-height: 2; padding-left: 4px; margin-top: -2px; }
.condition-text-one { margin-left: 6px; margin-right: 6px; }
.condition-btn { float: left; position: relative; padding-left: 10px; padding-right: 10px; height: 24px; line-height: 24px; margin-right: 6px; margin-bottom: 4px; cursor: pointer; }
.condition-btn-selected { background-color: #009edd; color: #fff; cursor: default; }

.condition-btn-too-icon { position: absolute; top: 8px; right: 6px; background-image: url("../../../img/index/y.png"); width: 7px; height: 7px; }
/*绛涢�鏉′欢 end*/

/*寮瑰嚭妗�begin*/
.ZBSetUp-drag-middle { padding-left: 30px !important; padding-right: 30px !important; margin-top: 30px; }
.BSetUp-col { padding-right: 0px; padding-left: 0px; }
.BSetUp-line { width: 100%; float: left; margin-bottom: 30px; }
.BSetUp-text-line { color: #888888; text-align: left; margin-bottom: 8px; }
.BSetUp-text-last-line { margin-bottom: 30px; }
.color-div { width: 12px; height: 12px; margin-top: 6px; }
.green-color-div { background-color: #5ab700; }
.orange-color-div { background-color: #eda100; }
.BSetUp-text-one { margin-top: 3px; margin-left: 6px; }
.BSetUp-input { width: 58px; height: 24px; padding-left: 8px !important; margin-left: 8px; font-size: 12px !important; }
.BSetUp-text-two { margin-top: 3px; margin-left: 12px; }

/*.drag-middle-C{*/
/*margin-top: 5px;*/
/*}*/
.BSetUp-line-two { width: 100%; float: left; margin-top: 20px; }
.BSetUp-line-three { border-bottom: 1px dashed #e8ecf0; }
.CSetUp-text-one { margin-top: 6px; }
.CSetUp-select { margin-top: 4px; margin-left: 8px; width: 132px; height: 24px; }
.CSetUp-text-two { width: 100%; text-align: left; color: #888888; padding-top: 8px; padding-bottom: 20px; }
.CSetUp-text-checkbox { margin-top: 3px; margin-right: 18px; margin-left: 2px; cursor: pointer; }
.CSetUp-text-checkbox-text { margin-left: 4px; }
.CSetUp-text-checkbox-input { /*margin-top: 4px !important;*/ /*margin-bottom: 4px !important;*/ }
/*寮瑰嚭妗�end*/

/*media begin*/
@media (max-width: 680px) {
    .condition-body-list-title { width: 100%; text-align: left; }
    .condition-bottom { padding-left: 0px; }
    .condition-text-one { display: none; }
    .condition-input-text-too { clear: both; margin-top: 6px; }

    .conditionBtn { top: -65px; left: -11px; border-bottom: 1px solid #e0e0e0; }
    .conditionBtnListBody { margin-top: 110px; }
    .dis-search { top: -115px; }
}

/*media end*/

/*common*/
.paddingleft0 { padding-left: 0px; }
.color999 { color: #999; }
.colorccc{color:#ccc !important; font-weight:normal; font-size:12px;}
.borderright0 { border-right: 0px !important; }
.borderbottom0 { border-bottom: 0px !important; }
.borderright1 { border-right: 1px solid #e0e0e0 !important; }
.borderbottom1 { border-bottom: 1px solid #e0e0e0 !important; }
.bordertop0 { border-top: 0px !important; }
.borderleft0 { border-left: 0px !important; }
.paddingleft0 { padding-left: 0px !important; }
.padding0 { padding: 0px !important; }
.marginright10 { margin-right: 10px; }
.marginleft15 { margin-left: 15px; }
.marginbottom5 { margin-bottom: 5px; }
.paddingbottom7 { padding-bottom: 7px; }
.marginbottom8 { margin-bottom: 8px; }

.ui-jqgrid-sortable { cursor: default !important; }
.ui-jqgrid-sortable:hover { color: #777 !important; }

.loadingtext { text-align: center; color: #ccc; margin-top: 45px; font-family: '瀹嬩綋'; }
.position { margin-top: 160px !important; height: 190px; }

.modal-dialog { width: 80%; }


/*灏忎簬992px*/
@media (max-width: 992px) {
    .promote-board .index-common-title-center { left: 100px; height: 29px; overflow: auto; }
    .promote-board .index-common-title-center .title-center-text { margin-right: 5px; }
}

/*澶т簬768px骞朵笖灏忎簬992px*/
@media (min-width: 768px) and (max-width: 992px) {
    .promote-board .accord-yj-float { height: 52px; margin-top: 24px; }
    .promote-board .accord-yj-float-value { font-size: 24px; }
}

.nodata { text-align: center; color: #ccc; padding: 12px; font-family: '瀹嬩綋'; }
.unselectable { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }
.modal-title span { font-size: 14px; color: #999; }

.promote-board .leftBody{
    width: 145px;
}

/*jqgrid*/
.ui-widget-content { border: 0px !important; }
.ui-corner-all { border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important; border-top-right-radius: 0px !important; border-top-left-radius: 0px !important; }
.ui-state-default, .ui-widget-content .ui-state-default { border: 0px; background: #FFFFFF !important; }
.ui-jqgrid-hdiv .ui-jqgrid-htable { border: 0px !important; }
.ui-jqgrid .ui-jqgrid-bdiv { border: 0px !important; }
.ui-jqgrid .ui-jqgrid-labels { border: 0px !important; border-bottom: 1px solid #e1e1e1 !important; }
.ui-jqgrid .ui-jqgrid-btable { border: 0px !important; }
.ui-jqgrid .ui-jqgrid-labels th { border: 0px !important; }
.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td { background-color: #fff !important; }
.ui-jqgrid tr.ui-row-ltr td { border-right: 0px !important; }
.ui-state-highlight .ui-icon { background-image: url("../../../css/jqueryui/images/ui-icons_222222_256x240.png") !important; }
.ui-icon-radio-off { display: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 0px; background: #fff; font-weight: normal; color: #666; }
.ui-state-default .ui-icon { background-image: none !important; }

/*common*/
.padding8{padding:8px;}
.borderright0 { border-right: 0px; }
.borderbottom0 { border-bottom: 0px; }
.paddingbottom30 { padding-bottom: 30px; }
.msgText { text-align: center; position: relative; top: 50%; color: #ccc; font-size: 14px; font-family: '瀹嬩綋'; }
.chart { width: 100%; height: 100%; }
.fontMainMargin{font-size:14px;margin-top:20px;margin-left:20px;}
.fontChildMargin{margin-top:30px;margin-left:20px;}
.height440{height:440px;}

/*鏌ヨ鏉′欢 begin*/
.dis-search{width: 280px;font-size: 12px !important;}
.dis-search-input{line-height:2 !important;font-size: 12px !important;float: left;width: 74%;height: 34px;margin-top: 1px;border: 1px solid #e0e0e0;font-size: 12px;padding-top: 4px;padding-left: 12px;}
.dis-search-input-btn{cursor:pointer;font-size: 12px !important;float: left;width: 26%;background-color: #009edd;height: 36px;line-height:36px;border: 1px solid #e0e0e0;padding-left: 22px;margin-left: -1px;color: #fff;}
.note{
	font-size: 14px;
    color: #999999;
}

/*绗﹀悎鏉′欢*/
#applicationConformityNum .top-div,#applicationUnConformityNum .top-div,#applicationSomeConformityNum .top-div{cursor:pointer;}
/*绗﹀悎鏉′欢鏈敵璇�/
#applicationUnConformityNum .top-div{cursor:pointer;}
/*绗﹀悎鏉′欢鏈敵璇�/
#applicationSomeConformityNum .top-div{cursor:pointer;}

/*绗﹀悎鏉′欢*/
#applicationSomeConformityNum .icon-question-sign{margin-left:5px; font-size:16px;}
#applicationSomeConformityNum .tooltip{text-align: left; width:180px;}
#applicationSomeConformityNum .tooltip-inner{max-width: 180px; text-align: left;}
#applicationSomeConformityNum .body-div{cursor:pointer;}
#acm .acmselect { text-align: center; padding: 10px 8px; border: 1px solid #efefef; }
#acm .acmselect1 { border-left: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; z-index: 10; background-color: #fff; width: 241px; margin: 0 auto; }
#acm .acmselect1 div { padding: 4px 7px; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; cursor: pointer; width: 80px; font-size: 14px; }
#acm .acmselect1 div.selected { cursor: default; border: 1px solid #0B98E0; background-color: #0B98E0; color: #fff; position: relative; left: -1px; top: -1px; }
.top-div .accord-yj-float-datetime{margin-top:7px;}
/*鏅嬬骇閫熷害*/
.promoteSpeed { border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; padding: 5px; }
.promoteSpeed .datecrowdselection { top: 27px !important; left: 5px !important; }
.promoteSpeed .datecrowdselection .fhead i { top: -6px !important; }
.promoteSpeed .content {height: 380px;  !important;  padding-top: 30px;}

/*鏅嬬骇杞ㄨ抗*/
.promoteTrack { border-bottom: 1px solid #e1e1e1; padding: 5px; }
.promoteTrack { height:563px;}
.promoteTrack .pthead { padding: 5px 0; /* height: 35px; */ }
.promoteTrack .pthead .name { float: left; width: 100px; margin-top: 20px;margin-left:20px; }
.promoteTrack .pthead .value { float: left; }
.promoteTrack .pthead .value .item { border: 1px solid #e1e1e1; padding: 1px 4px; font-size:12px; border-radius: 2px; display: inline-block; margin-right: 5px; cursor: default; }
.promoteTrack .pthead .value .item i { margin: 0 2px 0 6px; cursor: pointer; }
.promoteTrack .pthead .value input { padding: 5px; font-size: 14px; font-family: '瀹嬩綋'; width: 180px; }
.promoteTrack .pthead .value button { outline: none; text-align: center; background-color: #0099cc; color: #fff; font-size: 14px; cursor: pointer; padding: 3px 8px; border: 0px; }
.promoteTrack .ptbody { height: 350px; }
.promoteTrack .ptbody a { color: #0099FF !important; }

/*浜虹兢缁熻*/
#promoteCrowdCatagory { position: absolute; top: 24px; right: 20px; border-left: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1; z-index: 10; background-color: #fff; }
#promoteCrowdCatagory div { padding: 2px 5px; border-right: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; cursor: pointer; }
#promoteCrowdCatagory div.selected { cursor: default; border: 1px solid #0B98E0; background-color: #0B98E0; color: #fff; position: relative; top: -1px; left: -1px; }

/*浜哄憳鏅嬬骇鐘舵�*/
#renImg{cursor:pointer;}
#promoteStatus .promoteStatusTop .selectText{}
#promoteStatus .promoteStatusTop .selectButton button{outline: none; text-align: center; background-color: #0099cc; color: #fff; font-size: 14px; cursor: pointer; padding: 3px 8px; border: 0px; margin-left:5px;}
#promoteStatus .promoteStatusTop .selectMore{    padding: 3px 0 0 48px; cursor:pointer;}
#promoteStatus .promoteStatusTop .selectMore i{margin-left:15px;}

#promoteStatus .moreSearch{line-height: 38px; margin: 12px 0;    border-top: 1px dotted #e1e1e1; padding: 8px 0px;}
#promoteStatus .moreSearch>div{/* height:38px; */margin-bottom: 5px;}
#promoteStatus .moreSearch em{font-style: normal; display:none;}
#promoteStatus .moreSearch .name{display: inline-block; width: 80px;text-align: right}
#promoteStatus .moreSearch input{width: 50px; height: 28px; outline: none; text-align: center;}
#promoteStatus .moreSearch .org .orgName{float:left;}
#promoteStatus .moreSearch .u-dropdown-input{    float: left; background: #fff !important; margin-top: 5px; margin-left: -6px;}
#promoteStatus .moreSearch .dropDownBlackIcon{background-image:none;margin: 6px;}
#promoteStatus .moreSearch button{    outline: none; text-align: center; background-color: #0099cc; color: #fff; font-size: 14px; cursor: pointer; border: 0px; width: 80px; padding: 0px;    line-height: 30px; border: 1px solid #0099cc;border-radius: 2px;}
#promoteStatus #promoteStatusClear{ background-color: #e1e1e1 !important; border: 1px solid #ccc !important;; color: #555 !important;margin-left: 20px;}

/* #proStatus{margin-top: 12px; border-top: 1px solid #e1e1e1;} */
#proStatus .promoteStatusChart{height:250px;}

#proStatus .prostatusinp{white-space: normal;}
#proStatus .prostatusimg{float: center; /* width: 40%; */}
#proStatus .prostatusimg img{max-width: 60px; max-height: 60px; width:100%; border-radius: 60px; border: 1px solid #e1e1e1;}
#proStatus .prostatusnp{    width: 60%; float: left; text-align: left; line-height: 30px;}
#proStatus .prostatusname{line-height: 14px;margin-top:10px;}
#proStatus .prostatuspro{line-height: 14px;    margin-top: 11px;}
#proStatus .hidechart{position: relative; top: 50%; margin-top: -7px; color: #ccc; font-size: 14px;}

.prostatustb{    margin: 0 auto;}
.prostatustb td{border:0px !important;}
.prostatustb td i{font-size:18px;}
.prostatustb td .icon-ok{color: #0c0 !important;}
.prostatustb td .icon-remove{    color: #c00 !important;}

.icon-ok{color: #0c0 !important;}
.icon-remove{    color: #c00 !important;}

.bottom-div-three {
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 6px;
}


.ui-jqgrid .ui-pager-table > tbody > tr > td:nth-child(1) {
   width:0;
}

.ui-jqgrid .ui-pager-table > tbody > tr > td:nth-child(2) {
  width:80%;
  text-align: right;
}
.ui-jqgrid .ui-pager-table > tbody > tr > td:nth-child(3) {
   width:20%;
   text-align: left;
}
#salarySimulation{padding:5px;}
#salarySimulation .tooltip{text-align: left; width:470px;}
#salarySimulation .tooltip-inner{max-width: 470px; text-align: left;white-space: nowrap;}
#salarySimulation .sstitle{margin-bottom:5px;}
#salarySimulation .sstitle i{cursor:pointer;    font-size: 16px;}
#salarySimulation .ui-jqgrid .ui-jqgrid-labels th{height:50px !important;}

#messageDialog .modal-dialog{width: 350px; font-size: 14px;}
#emulatorModal .modal-body{height: 0px; overflow: auto;}
#emulator .msg{ text-align: center; color: #ccc; font-size: 14px; position: relative; top: 50%; margin-top: -7px;}
#emulator .emitem{ float: left; border: 1px solid #0b98e0; margin: 8px 8px 0 0; padding: 3px; width: 180px; height:58px; cursor:pointer;}
#emulator .selected .emok{display: block !important;}
#emulator .emitem .emok{ width: 178px; height: 56px; display:none; position: absolute; background: rgba(212, 212, 212, 0.48); margin: -3px; text-align: center; padding-top: 7px;}
#emulator .emitem .emok i{font-size: 40px; color: #333;}
#emulator .emitem .emrank{ float: left; width: 50px; height: 50px; border-radius: 50px; background: #0b98e0; text-align: center; padding-top: 17px; color: #fff;}
#emulator .emitem .emcount{float: left; padding: 7px;}


#eligibilityGrid{width:100%; border-left:1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
#eligibilityGrid th{text-align: center;}
#eligibilityGrid .cell{border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
#eligibilityGrid .cell1{width:80px; border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1; text-align: center;}
#eligibilityGrid .cell2{ border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
#eligibilityGrid .cell3{ border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
#eligibilityGrid .cell4{width:120px; text-align: center; border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
#eligibilityGrid .textmsg{text-align: center; color: #ccc; padding:80px 0; font-family: '瀹嬩綋'; }
#eligibilityGrid .eligibilitytd{border-bottom:1px solid #e1e1e1;}
#eligibilityGrid .uneligibilitySubDivs{ float: left; margin:10px 0 10px 10px; width:200px;}
#eligibilityGrid .uneligibilitySubDivb{ float: left; margin: 10px;}
#eligibilityGrid .uneligibilitySubAdd{height: 28px;outline: none; text-align: center; background-color: #0099cc; color: #fff; font-size: 14px; cursor: pointer; padding: 4px 10px; border: 0px;margin-left: -10px;}

#eligibilityTotal{text-align: center; padding: 50px 0;}
#eligibilityTotal span{color:#FD8608; font-size:18px;     margin: 0 8px;}
#eligibilityTotal label{color:#999;}
#eligibilityTotal label em{font-style:normal; margin: 0 5px;}


/* 鎶婂垎椤靛乏鍙充袱杈圭殑td鍘绘帀锛屽凡缁忚缃眳涓�*/
/* #ppromoteTrackGridPage_left, #promoteTrackGridPage_right{
	display: none;
} */
#promoteTrackGridPage_center{
	text-align:-webkit-center;
}